### RUNTIME ENV ###

# common chomp runtime
# WORKDIR="./chomp/"
LOGFILE=out.log
MAX_RETRIES=5
RETRY_COOLDOWN=5
THREADED=true
TSDB_ADAPTER=tdengine
# CONFIG_PATH=./ingesters.yml
MAX_JOBS=15

# ingester runtime
PERPETUAL_INDEXING=false

# server runtime
SERVER_HOST=0.0.0.0
SERVER_PORT=40004
WS_PING_INTERVAL=30
WS_PING_TIMEOUT=20

# db settings
DB_RW_USER=rw
DB_RW_PASS=pass

REDIS_HOST=chomp-redis
REDIS_PORT=40001
REDIS_DB=0

TAOS_HOST=chomp-taos
TAOS_PORT=40002
TAOS_HTTP_PORT=40003
TAOS_DB=chomp

# chains rpcs
HTTP_RPCS_1=rpc.ankr.com/eth,eth.llamarpc.com,eth-mainnet.public.blastapi.io,endpoints.omniatech.io/v1/eth/mainnet/public,1rpc.io/eth
HTTP_RPCS_10=mainnet.optimism.io,rpc.ankr.com/optimism,optimism.llamarpc.com,optimism-mainnet.public.blastapi.io,1rpc.io/op,endpoints.omniatech.io/v1/op/mainnet/public
HTTP_RPCS_56=bsc-dataseed.bnbchain.org,rpc.ankr.com/bsc,binance.llamarpc.com,endpoints.omniatech.io/v1/bsc/mainnet/public,bsc-mainnet.public.blastapi.io
HTTP_RPCS_100=rpc.gnosischain.com,rpc.ankr.com/gnosis,gnosis-mainnet.public.blastapi.io,endpoints.omniatech.io/v1/gnosis/mainnet/public,1rpc.io/gnosis
HTTP_RPCS_137=rpc-mainnet.matic.network,rpc.ankr.com/polygon,endpoints.omniatech.io/v1/matic/mainnet/public,polygon-mainnet.public.blastapi.io,1rpc.io/matic
HTTP_RPCS_238=rpc.ankr.com/blast,blastl2-mainnet.public.blastapi.io,rpc.blastblockchain.com,blast.drpc.org
HTTP_RPCS_250=rpc.fantom.network,rpc.ankr.com/fantom,fantom-mainnet.public.blastapi.io,1rpc.io/ftm,endpoints.omniatech.io/v1/fantom/mainnet/public
HTTP_RPCS_1284=rpc.api.moonbeam.network,rpc.ankr.com/moonbeam,moonbeam.public.blastapi.io,endpoints.omniatech.io/v1/moonbeam/mainnet/public
HTTP_RPCS_5000=rpc.mantle.xyz,rpc.ankr.com/mantle,mantle-mainnet.public.blastapi.io,1rpc.io/mantle
HTTP_RPCS_8453=mainnet.base.org,base.llamarpc.com,1rpc.io/base,base-mainnet.public.blastapi.io,endpoints.omniatech.io/v1/base/mainnet/public
HTTP_RPCS_42161=arb1.arbitrum.io/rpc,arbitrum.llamarpc.com,rpc.ankr.com/arbitrum,arbitrum-one.public.blastapi.io,endpoints.omniatech.io/v1/arbitrum/one/public
HTTP_RPCS_43114=api.avax.network/ext/bc/C/rpc,rpc.ankr.com/avalanche,ava-mainnet.public.blastapi.io/ext/bc/C/rpc,1rpc.io/avax/c,endpoints.omniatech.io/v1/avax/mainnet/public
HTTP_RPCS_59144=rpc.linea.build,1rpc.io/linea,linea.drpc.org,linea.blockpi.network/v1/rpc/public
HTTP_RPCS_534352=rpc.scroll.io,rpc.ankr.com/scroll,scroll-mainnet.public.blastapi.io,1rpc.io/scroll
HTTP_RPCS_SOLANA=api.mainnet-beta.solana.com
HTTP_RPCS_SUI=fullnode.mainnet.sui.io

### BUILD ENV ###

# python version
PYTHON_VERSION=3.11

# images names
DB_IMAGE=chomp-db
CORE_IMAGE=chomp-core
API_IMAGE=chomp-api
INGESTER_IMAGE=chomp-ingester
HEALTHCHECK_IMAGE=chomp-healthcheck

# virtual network name
DOCKER_NET=chomp-net

# instances names
DB_CONTAINER=chomp-db
API_CONTAINER=chomp-api
INGESTER_CONTAINER=chomp-ingester
HEALTHCHECK_CONTAINER=chomp-healthcheck
CLUSTER_INSTANCES=3

# db settings
DB_MAX_CONNECTIONS=50000
DB_MAX_ROWS_PER_QUERY=1000000

# db access control
DB_ROOT_USER=root
DB_ROOT_PASS=pass
DB_RW_USER=rw
DB_RW_PASS=pass

# redis specific
REDIS_HOST=chomp-redis
REDIS_PORT=40001
REDIS_MASTER_HOST=chomp-redis
REDIS_MASTER_PORT=40001
REDIS_MAX_RAM=1500000000
REDIS_DUMP_SETTING="3600 1 300 100 60 10000"

# tdengine specific
TAOS_HOST=chomp-taos
TAOS_PORT=40002
TAOS_HTTP_PORT=40003
TAOS_MASTER_HOST=chomp-taos
TAOS_MASTER_PORT=40002
TAOS_MAX_RAM=1500000000
